mixin listGallery(gallery)
    if gallery.length === 1
      div.flexboxE
        a(href=gallery[0].link title=gallery[0].description)
          img(src=gallery[0].link)
      h1 #{gallery[0].author}
      h2 #{gallery[0].description}
    else
      div.flexbox.hover01
        each picture in gallery
          div
            figure
              a(href=`/gallery/${picture.id}` title=picture.description)
                img(src=picture.link)
            span #{picture.author}
      div.nav.flexboxE
          div.prev#prev
          div.next#next