mixin listGallery(gallery)
    if gallery.length === 1
      div.flexboxE
        a(href=`/gallery/${gallery[0].id}` title=gallery[0].description)
          img(src=gallery[0].link)
      h1 #{gallery[0].author}
      h2 #{gallery[0].description}
    else
      div.flexbox
        each picture in gallery
            a(href=`/gallery/${picture.id}` title=picture.description)
              img(src=picture.link)
      div.nav.flexboxE
          div.prev.blue#prev
          div.next.blue#next