mixin listGallery(gallery, pictures, user)
    -console.log(user);
    if gallery.length === 1
      div.flexboxE
        a(href=gallery[0].link
          title=gallery[0].description)
          img#singlePic(src=gallery[0].link)
      h1 #{gallery[0].author}
      div.flexboxE
        div.description
          h2 #{gallery[0].description}
      div.register
        if !user
          p Like the site?
          p
            a(href="/user/register/") Register!
        else
          p
            a(href="/user/logout/") Logout
          p
            a(href="/user/me/") Your Profile
    else
      div.flexbox.hover
        each picture in gallery
          div
            figure
              a(href=`/gallery/${picture.id}` title=picture.description)
                img(src=picture.link)
            span #{picture.author}
      div.nav.flexboxE
          div.prev#prev
          div.next#next
       if user
        p
          a(href="/user/logout") Logout
        p
          a(href="/gallery/new") New Post
        p
          a(href="/user/me/") Your Profile
      else
        p
          a(href="/user/login") Login to post a new picture!